body {
    font-family: Candara;
    font-size:130%;
}

#table, button, strong, h2 {
  margin-left: 5%;
}

#select {
  margin-left: 0;
}

#table {
  border-collapse: collapse;
  width: 60%;
}

td {
  width: auto;
}


#adding {
  visibility: hidden;
  display: inline;
}

#hiddenStoreId {
  margin-right: 1px;
}

#addbutton {
  display: inline;
  margin-left: 1px;
}

#delsel {
  display: inline;
  margin-left: 10px;
}
#thirdcol, .checkitem {
  align-content: center;
}