body {
    font-family: Candara;
    font-size:130%;
}

#table, button, strong, h2 {
  margin-left: 5%;
}

#table {
  border-collapse: collapse;
  width: 70%;
}

td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#adding {
  visibility: hidden;
  float: right;
}
