<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Choose List</title>
  <% include ../partials/header.ejs %>
</head>

<body> 
  <div class="container">
    <!-- <form action="/getRate" method="GET">
      Package type: <select name="mailType" id="type" oninput="valWeight()" required>
        <option></option>
        <option value="stamped">Letters (Stamped)</option>
        <option value="metered">Letters (Metered)</option>
        <option value="flat">Large Envelopes (Flats)</option>
        <option value="package">First-Class Package Service-Retail</option>
      </select>
      Weight (oz): <input type="number" name="weight" id="weight" max="13" step="0.01" oninput="valWeight()" required>
      <button type="submit" value="submit" >Submit</button>
    </form> -->
  </div>


</body>
</html>
