<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Full List</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    
    <ul>
        <% for(var i = 0; i < full_list.length; i++) { %>
            <li><%= full_list[i].item_name %> - <%= full_list[i].store_name %></li>
            <% }); %>
    </ul>
</body>
</html>