<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Full List</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <table class="table table-inverse">
        <thead>
          <tr>
            <th>Item</th>
            <th>Store</th>  
          </tr>
        </thead>
    <tbody>
        <% for(var i=0; i < result.length ; i++) {%>
            <tr>
                <td><%= result[i].item_name %></td>
                <td><%= result[i].store_name %></td>
            </tr>
            <% } %>
    </tbody>
    </table>    
</body>
</html>