<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Full List</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="col-md">
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Where to buy</th>  
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < result.length ; i++) {%>
                    <tr>
                        <td><%= result[i].item_name %></td>
                        <td><%= result[i].store_name %></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>   
    </div> 
</body>
</html>