<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="./result.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" type="text/css" href="./styles.css" />
  <title>Choose List</title>
  <% include ../partials/header.ejs %>
</head>

<body> 
  <div class="container">
      <strong id="select">Select Store: </strong><select name="stores" id="stores" required>
        <option></option>
        <option value="1">Smiths</option>
        <option value="2">Costco</option>
        <option value="3">Amazon</option>
      </select>
      <button type="submit" id="storeSubmit" value="submit">View list</button>
  </div> 
  <br>
  <div>
    <br>
    <h2 id="storeName">
    </h2>
    <div id="adding">
      <strong>Add to this list: </strong><input type="text" class="itemName"  name="itemName" id="itemName" required>
      <input type = "hidden" id="hiddenStoreId" name="store"> 
      <button type="submit" id="addbutton" onclick="add();">Add</button>
      <button type="btn btn-danger" id="delsel">Delete Selected</button>
    </div><br><br>
    <table class="table table-striped" id="table">
      <thead>
          <tr>
              <th scope="col-md-1">#</th>
              <th scope="col-md-3">Item</th>
              <th id="thirdcol" scope="col-md-1"><input type="checkbox" id="checkall"></th> 
          </tr>
      </thead>
      <tbody id="tableBody">
 
      </tbody>
    </table>   
  </div>


</body>
</html>
