<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="./result.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <title>List</title>
    <% include ../partials/header.ejs %>
    <h1 class="display-5"><%= result[0].store_name %></h1><br>
</head>
<body> 
        <div class="col-md-6">
                    <strong>Add to list: </strong><input type="text" class="itemName"  name="itemName" id="itemName" required>
                    <input type = "hidden" id="store" name="store" value="<%= store_id %>">
                    <button type="submit" onclick="add();">Add</button>
        </div><br>
    <div class="col-md-6">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th scope="col-md-1">#</th>
                    <th scope="col-md-3">Item</th>
                </tr>
            </thead>
            <tbody id = "list">
                <% for(var i=0; i < result.length; i++) {%>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td class="text-left"><%= result[i].item_name %></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>   
    </div> 
</body>
</html>


<!-- Get rid of form and just use req.body to get the information? -->